/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Coders-Crux";
    src: url("./coders-crux/CodersCrux.eot");
    /* IE9 Compat Modes */
    src: url("./coders-crux/CodersCrux.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("./coders-crux/CodersCrux.otf") format("opentype"),
        /* Open Type Font */
        url("./coders-crux/CodersCrux.svg") format("svg"),
        /* Legacy iOS */
        url("./coders-crux/CodersCrux.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("./coders-crux/CodersCrux.woff") format("woff"),
        /* Modern Browsers */
        url("./coders-crux/CodersCrux.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}