<template>
    <div>
        <button v-if="!isGameStarted" @click="startGame">Start</button>
        <div id="board" v-else>
            <div id="top-bar">
                <h1>Tick Count: <span>{{ this.$store.state.tickCount }}</span></h1>
                <h1>Currently on <span>{{ currentPlanet.getName() }}</span></h1>
            </div>
            <div id="main">
                <div id="actions-list">
                    <button @click="switchPanel('SPACEPORT')">Spaceport</button>
                    <button @click="switchPanel('WAREHOUSES')">Warehouses</button>
                    <button @click="switchPanel('LOGISTICS')">Logistics</button>
                    <button @click="switchPanel('SCAN')">Scan (XX:XX)</button>
                </div>
                
                <div id="panel">
                    <div id="panel-title">{{ activePanel }}</div>

                    <div v-if="activePanel === 'SPACEPORT'">
                        <planet-list-component/>
                        <collected-resource-list-component/>
                    </div>
                </div>
            </div>
            
            <!--<div>
                
                <button @click="navigateTo">
                    Navigate to another planet
                </button>
            </div>-->
            <!--<planet-component/>-->
            <!--<div>
                <resource-list-component />
                
                <item-list-component />
            </div>-->
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import PlanetComponent from './../components/planet.vue';
import PlanetListComponent from './../components/planet-list.vue';
import ResourceListComponent from './../components/resource-list.vue';
import CollectedResourceListComponent from './../components/collected-resource-list.vue';
import ItemListComponent from './../components/item-list.vue';
import { Actions, Mutations } from './../store';
import { mapGetters } from "vuex";
import { Planet } from "../entities/planets/planet";
import { StartingPlanet } from "../entities/planets/starting-planet";

export default Vue.extend({
    name: 'GameView',
    data() {
        return {
            isGameStarted: false,
            activePanel: 'SPACEPORT',
        }
    },
    mounted() {
        this.startGame();
    },
    components: {
        PlanetListComponent,
        PlanetComponent,
        ResourceListComponent,
        CollectedResourceListComponent,
        ItemListComponent,
    },
    computed: {
        planetsCount() {
            return this.$store.state.planets.length;
        },
        currentPlanet(): Planet {
            return this.$store.state.currentPlanet as Planet;
        }
    },
    methods: {
        startGame() {
            this.$store.dispatch(Actions.START_GAME)
            this.isGameStarted = true;
        },
        navigateTo() {
            const planet: Planet = new Planet();
            this.$store.commit(Mutations.CREATE_PLANET, planet);
            this.$store.commit(Mutations.SET_CURRENT_PLANET, planet);
        },
        switchPanel(panel: string) {
            this.activePanel = panel;
        }
    },
});
</script>

<style lang="scss">
html,
body {
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(40,40,40, 0.9);
    width: calc(100% - 40px);
    padding: 20px;
}

#board #main {
    padding: 20px;
    display: flex;
}

#board #panel {
    background-color: rgba(40,40,40, 0.9);
    margin-left: 20px;
    padding: 20px;
    height: 0%;
    width: 100%;
    border-left: solid 5px aqua;
}

#panel #panel-title {
    font-size: 45px;
    font-weight: bolder;
}

#actions-list {
    width: 400px;
}

#actions-list button {
    font-size: 45px;
    font-weight: bolder;
    width: 100%;
    margin-top: 20px;
}

#actions-list button:first-of-type {
    margin-top: 0;
}

#actions-list button:hover {
    cursor: pointer;
}

span {
    color: aqua;
}

button {
    background-color: rgba(40,40,40, 0.9);
    border: none;
    border-left: solid 5px aqua;
    padding: 5px 10px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Space Grotesk';
}
</style>
