<template>
    <div class="table-container">
        <div class="table-container-skew"></div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        Collected resources overview
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="type of Object.keys(resources)" :key="type">
                    <td>{{ type }}</td>
                    <td>{{ getQuantity(type, resources[type]) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Resource } from "../entities/resources/resource";
import { ResourceType } from "../entities/resources/resource.types";
import { ResourceUtils } from './../entities/resources/resource.utils';
import { Mutations } from "../store";
import { ResourceManager } from "../entities/resources/resource.manager";
import { mapGetters } from "vuex";

export default Vue.extend({
    name: 'CollectedResourceListComponent',
    computed: {
        resources(): Resource[] {
            return this.$store.state.collectedResources;
        },
    },
    methods: {
        getQuantity(type: ResourceType, qty: number): string {
            return ResourceUtils.getHumanReadableQuantity(type, qty);
        }
    }
});
</script>
