<template>
    <div class="table-container">
        <div class="table-container-skew"></div>
            <table>
            <thead>
                <tr>
                    <th colspan="2">Items</th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>Lv.</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody v-if="items.length > 0">
                <tr v-for="item of items" :key="item.identifier">
                    <td>{{ item.getType() }}</td>
                    <td>N.{{ item.getLevel() }}</td>
                    <td>{{ item.getDescription() }}</td>
                    <td><button @click="item.levelUp()">+</button></td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="2">Aucun objet sur cette planète</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Item } from "../entities/items/item";
import { Mutations } from "../store";

export default Vue.extend({
    name: 'ItemListComponent',
    computed: {
        items(): Item[] {
            return this.$store.state.items.filter((item: Item) => item.getLocation().getIdentifier() === this.$store.state.currentPlanet.getIdentifier());
        }
    },
});
</script>
