<template>
    <div class="table-container">
        <div class="table-container-skew"></div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Planets</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="planet of this.$store.state.planets" :key="planet.identifier">
                    <td>{{ planet.getName() }}</td>
                    <td><button @click="navigateTo(planet)">Navigate</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Planet } from "../entities/planets/planet";
import { Mutations } from "../store";

export default Vue.extend({
    name: 'PlanetListComponent',
    methods: {
        navigateTo(planet: Planet): void {
            this.$store.commit(Mutations.SET_CURRENT_PLANET, planet);
        }
    }
});
</script>
