<template>
    <div id="planet"></div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: 'PlanetComponent',
});
</script>

<style lang="scss">
    #planet {
        position: absolute;
        width: 700px;
        height: 700px;
        background-color: black;
        border-radius: 100%;
        top: 50vh;
        transform: translateY(-50%);
    }
    #top-left {
        font-size: 45px;
        text-transform: uppercase;
        position: absolute;
        left: 100px;
        top: 30%;
        width: 700px;
        height: 100px;
        border: solid 1px red;
    }
</style>