<template>
    <div class="table-container">
        <div class="table-container-skew"></div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Planet resources</th>
                </tr>
            </thead>
            <tbody v-if="resources.length > 0">
                <tr v-for="resource of resources" :key="resource.identifier">
                    <td>{{ resource.getType() }}</td>
                    <td>{{ getQuantity(resource.getType(), resource.getQuantity()) }}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="2">
                        No resources found yet.
                        <button>Send a vessel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Planet } from "../entities/planets/planet";
import { Resource } from "../entities/resources/resource";
import { ResourceType } from "../entities/resources/resource.types";
import { ResourceUtils } from './../entities/resources/resource.utils';
import { Mutations } from "../store";

export default Vue.extend({
    name: 'ResourceListComponent',
    computed: {
        resources(): Resource[] {
            return this.$store.state.currentPlanet.getResources();
        },
    },
    methods: {
        getQuantity(type: ResourceType, qty: number): string {
            return ResourceUtils.getHumanReadableQuantity(type, qty);
        }
    }
});
</script>
